# Ignore IDE project files
/nbproject/
/.settings
/.project
/.buildpath

# Exclude specific PhpStorm project files
/.idea/*
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/fileTemplates
!/.idea/inspectionProfiles
!/.idea/libraries
!/.idea/scopes
!/.idea/webResources.xml

# PHP lint cache file
/.phplint-cache

# PHPUnit cache file
/.phpunit.result.cache

# No including of composer packages
/vendor

# Exclude javascript dev files, those can be downloaded manually
/jsDev

# Ah, the so wonderful Windows and its Thumbs.db files
Thumbs.db

# Ignore local Vagrant box things
/.vagrant

# Ignore uploaded wallpapers
/temp
/files
!/temp/.gitkeep
!/files/.gitkeep
!/files/cache/.gitkeep
!/files/moderate/.gitkeep
!/files/thumb/.gitkeep